version: "3.8"

services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/imageapp
      - JWT_SECRET=51de91c326765c5d3d62db636158e2b03b9964c6f2db7566687be75b4cdb41ec40f9ea6be9c9377ec8a676d2a6e300cccb165104e1a20f1ec0e9550d73f16a822321ec13318888894efbd2d7aa2ed1f18e4c2c01b930663e7539630e88216d39ed6329c5afda8256df68282d6d79473694470b3646bed199f71ae7dec0968789bb326f7e3d69e00ed7ceeb12c57c6f7991de7ae46ac8a688685bf007ee48870b9ccc0fc0e8d1386f03178f88753f64a4cd28fd980fec8c98436e52ff8d17123f3803a4942d21b366eb4a99bd61d101dacbe839009566215d7416ef65dcb2291bed3a3b4e6c7caea84068bb3798c53cdca8d5783aa64d4f8adf693a5482bdfe4bc057534b722232af8254e8bc1cb1c2fa49da331c72c10b632641e60349138d1e8d7f40bc5f2b5075f3f34a47d9062db75d3022c916e86330d57bad5ed991641049c2671c1e4a3dc8ad33632f1ff515514e7c7ab2b1cb90a3e55bf468bf1403c0059744c448c5599fbe4b3aacd358b805902988438a41fc59f16698f862d2a18a6e2d092a457c294525d186671fbded3d27af26c66e9b744009a570d7ca7bb9f9cea05b6e62525e61f66a77be89687db07a0a34e8b88ef14f54f4afaadc57fba7c9cb7664a0fa52ea2ce1216a9d5ecb0b93d33a0aeb029337f05e9273276c2a4ecd208807672caf355603aacbb466337f9896b380a11076d60566b797f823696f
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: